{% extends '../layout.njk' %}
{% import '../../parts/card.njk' as card%}
{% block content %}
    {%call card.render('Criando chef')%}
    <div class="buttonsPages">
        <input form="form" type="submit" class="button submit" value="Salvar Chef"/>
    </div>
    <form class="content" id="form" method="POST" action="/admin/chefs" enctype="multipart/form-data">
        {% include './fields.njk' %}
    </div>
    {%endcall%}
{% endblock content %}