{% extends '../layout.njk' %}
{% import '../../parts/card.njk' as card %}
{% block content %}
    {% call card.render('Editanto chef') %}
    <div class="buttonsPages reverse">
        <input type="submit" form="form" class="button submit" value="Salvar chef"/>
        <input type="submit" form="delete" class="button delete" onclick="confirmationEvent.delete(event)" value="Excluir"/>
    </div>
    <div class="content">
        <form id="form" method="post" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
            {% include './fields.njk' %} <input type="hidden" name="id" value="{{ chef.id }}"/>
            <input type="hidden" name="file_id" value="{{ chef.file_id }}"/>
        </form>
        <form id="delete" method="post" action="/admin/chefs?_method=delete">
            <input type="hidden" name="id" value="{{ chef.id }}"/>
            <input type="hidden" name="file_id" value="{{ chef.file_id }}"/>
        </form>
    </div>
    {% endcall %}
{% endblock content %}