<div class="items">
    <div class="item">
        <p>Nome do Chef</p>
        <input type="text" value="{{ chef.name }}" placeholder="Informe seu nome" name="name"/></div>
    <div class="item">
        <p>Avatar</p>
        <div class="upload_chef">
            <p>Enviar Avatar</p>
            <input class="button" type="file" name="photos" accept="image/*"/>
        </div>
    </div>
</div>