<div class="items">
    <div class="item">
        <p>Nome do Chef</p>
        <input type="text" value="{{ chef.name }}" placeholder="Informe seu nome" name="name"></div>
        <div class="item">
            <p>Avatar</p>
            <input type="link" value="{{ chef.avatar_url }}" placeholder="https://caminhodaimagem.com.br" name="avatar_url"></div>
        </div>
    </div>