{% extends "./layout.njk" %}
{% block pageName %}Receitas{% endblock %}
{% block content %}
    <div class="content">
        {% if filter %}
            <div class="title">
                <p>
                    Buscando por "{{ filter }}"</p>
            </div>
        {% endif %}
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{ recipe.id }}">
                    <div class="cardImage">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}"></div>
                        <div class="cardInfo">
                            <p class="nameRecipe">
                                {{ recipe.title }}
                            </p>
                            <p class="authorRecipe">
                                {{ recipe.author }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        <script src="scripts.js"></script>
    {% endblock %}