/* GLOBAL */

:root {
  font-size: 62.5%;
  --primary-color: #6558c3;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: 400 1.6rem "Roboto", sans-serif;
  min-height: 100vh;
}
/* HEADER */

header {
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
}
header.admin nav,
header nav {
  display: flex;
  flex-direction: row;
  padding: 2.4rem 0;
  align-items: center;
}

header nav .logo {
  margin-right: 11rem;
}

header nav .links a {
  text-decoration: none;
  margin-right: 3rem;
  color: black;
}
header nav .headOptionsAndFilter {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header nav .headOptionsAndFilter .filter form {
  display: flex;
  flex-direction: row;
  align-content: center;
}

header nav .headOptionsAndFilter .filter button[type="submit"] {
  width: 9.1rem;
  height: 3.7rem;
  background: #6558c3;
  color: white;
  border: 0;
  border-radius: 0.4rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  margin-top: 0;
}

header nav .headOptionsAndFilter .filter input {
  width: 20rem;
  height: 3.7rem;
  border: 0.1rem solid #dddddd;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding-left: 1.4rem;
  margin-right: 0.8rem;
}

/* HEader admin */

header.admin nav .links a {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* MAIN CONTENT */

main {
  flex: auto;
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 36.6rem;
  background: #fbdfdb;
  border-radius: 30px;
  margin-bottom: 5rem;
}

.presentation .details {
  display: flex;
  flex-direction: column;
  width: 31.6rem;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.presentation .details h1 {
  margin: 0;
  font-size: 3.2rem;
}

.presentation .details p {
  line-height: 2.8rem;
  opacity: 0.7;
  font-size: 1.8rem;
}

.presentation .presentationImage {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  height: 100%;
  width: 100%;
}

.presentation .presentationImage img {
  object-fit: none;
  position: absolute;
  bottom: 0;
  right: 20%;
}

/* Cards */

.moreAccess {
  width: 100%;
  max-width: 94rem;
}

.content .title p {
  font-size: 2.4rem;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  cursor: pointer;
}

.cardImage img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.cardInfo p.nameRecipe {
  font-size: 1.8rem;
  margin: 0;
}

.cardInfo p.authorRecipe {
  font-size: 1.4rem;
  color: #777777;
  margin-top: 0.5rem;
}

/* About FoodFy */

.subtitle h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
}

section .content {
  font-size: 1.8rem;
  color: #444444;
  line-height: 2.8rem;
}

/* RECIPE */

.content .recipe {
  align-items: center;
  text-align: center;
}
.content .recipe .recipeImage {
  margin-bottom: 3.2rem;
}

.content .recipe .recipeImage img {
  border-radius: 1.5rem;
  object-fit: cover;
  width: 100%;
  height: 28rem;
}

.content .recipe h1 {
  margin: 0.4rem auto;
}
.content .recipe p {
  margin: 0 auto;
}

.content .legend {
  display: flex;
  flex-direction: row;
}

.content section {
  margin-top: 4rem;
}

.content section h2 {
  margin: 0;
}

.content .legend span {
  align-self: flex-end;
  font-size: 1.2rem;
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
  text-transform: uppercase;
  cursor: pointer;
}
.content section p,
.content section li {
  line-height: 2.6rem;
  color: #444444;
}

.content section ul {
  list-style-position: inside;
  padding: 0;
}

.active {
  display: none;
  overflow: hidden;
  opacity: 0;
}

/* FOOTER  */

footer {
  background: #eeeeee;
  text-align: center;
  padding: 2.3rem 0;
  margin-top: 5rem;
}

footer p {
  margin: 0;
  color: #999999;
  font-size: 1.4rem;
}

/* ADMIN */

header.admin {
  display: flex;
  background: #111111;
  min-width: 100vw;
}

.admin nav {
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
}
div.admin {
  margin-top: 5rem;
}

div.admin h1 {
  font-size: 2.4rem;
}

.cards.admin {
  grid-template-columns: 1fr 1fr;
}

.cards.admin .card {
  display: flex;
  flex-direction: row;
}

.cards.admin .card .cardImage img {
  width: 17.2rem;
  height: 8rem;
  margin-right: 2rem;
}

.cards.admin .card .cardInfo a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #6558c3;
  cursor: pointer;
}

.content.admin .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content.admin .info a.button,
.content.admin .info input.button {
  background: #6558c3;
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: bold;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.4rem;
  border: 0;
  cursor: pointer;
}
.content.admin .info input.buttonDelete {
  background: #dc4747;
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: bold;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.4rem;
  border: 0;
}

.items .item p {
  font-size: 1.6rem;
  font-weight: 600;
}
.item select,
.item textarea,
.item input {
  width: 100%;
  box-sizing: border-box;
  padding: 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #dddddd;
  border-radius: 0.4rem;
}

.item select {
  display: flex;
}

.item:first-child {
  margin: 0;
}

.item {
  width: 100%;
  margin-top: 4rem;
}
.item textarea {
  height: 20rem;
  font-family: Roboto, sans-serif;
}

/* Photos Preview */

.item .upload-images {
  display: flex;
  flex-direction: row;
}

.item #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 15rem);
  grid-gap: 0.7rem;
}

#photos-preview .photo,
.item div.mini-image {
  width: 15rem;
  height: 15rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #dddddd;
  border-radius: 0.4rem;
}

.item div.mini-image {
  margin-right: 0.6rem;
}

.item #photos-preview .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 0.4rem;
}

.item #photos-preview .photo i {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);

  color: red;
  transition: 200ms;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
  font-weight: bold;
}

.item #photos-preview .photo i:hover {
  opacity: 1;
}

.item input[type="file"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
}

.item div.mini-image i {
  position: absolute;
  cursor: pointer;
}

button.link {
  display: flex;
  font-weight: 600;
  font-size: 1.4rem;
  color: #6558c3;
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 0.8rem;
}

/* Chefs Grid */

.cards.chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1.6rem;
}

.chefs .card {
  display: flex;
  flex-direction: row;
}

.chefs .card .chefImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chefs .card .chefImage img {
  width: 6.4rem;
  height: 6.4rem;
  margin-right: 1.6rem;
  border-radius: 50%;
  object-fit: cover;
}
.chefs .card .chefInfo .nameChef {
  margin-bottom: 0.5rem;
}

.chefs .card .chefInfo .qtdRecipes {
  margin-top: 0;
  font-size: 1.4rem;
  color: #666666;
}
.chefInfo .editLink {
  margin-top: 0;
}

.chefInfo .editLink a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

.chefAvatar {
  display: flex;
  justify-content: center;
}

.chefAvatar img {
  margin-top: 2rem;
  display: flex;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.chefAdminInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0.8rem;
}

.chefAdminInfo h1.chefName {
  font-size: 3.6rem;
  margin-bottom: 0.8rem;
}

.chefAdminInfo p {
  margin: 0;
  color: #777777;
}

/* Chef Avatar */

.upload_chef {
  position: relative;
  width: 13rem;
  height: 3.7rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}

.upload_chef p {
  position: absolute;
  color: white;
  font-weight: normal;
}
