/* Creater User */
.button#delete {
  background-color: #dc4747;
}
.button#cancel {
  background-color: #666666;
}

.item#checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.item#checkbox input[type="checkbox"] {
  width: auto;

  margin-right: 0.8rem;
}

#users-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  row-gap: 0.8rem;
  align-items: center;
}

#users-form .item + .item {
  margin-top: 0;
}

/* LIST OF USERS */

.userEmail {
  color: #777777;
  font-size: 1.4rem;
}

.userName {
  color: #111111;
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.userInfo a {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.userInfo form {
  display: flex;
  margin: 0;
  padding: 0;
}

.userInfo form input {
  margin: 0;
  border: 0;
  background: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--button-delete);
  cursor: pointer;
  margin-left: 0.8rem;
}

.userInfo .editLink {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
}

.cards.users {
  margin-top: 2.4rem;
}

.content.admin.users .info a {
  width: 13.9rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  box-sizing: border-box;
}
