{% extends '../layout.njk' %}
{% import '../../parts/card.njk' as card %}
{% block content %}
    {% call card.render('Gerenciar Receitas ') %}
    <div class="buttonsPages">
        <a href="/admin/recipes/create" class="button submit">Nova Receita</a>
    </div>
    <div class="content">
        <div class="cards admin">
            {% for recipe in recipes %}
                <div class="card" id="{{ recipe.id }}">
                    <div class="cardImage">
                        {% if not recipe.images[0] %}
                            <img src="https://place-hold.it/300x100?text=Sem%20Imagem" alt="Sem imagem"></div>
                        {% else %}
                            <img src="{{ recipe.images[0].src }}" alt="{{ recipe.title }}"></div>
                        {% endif %}
                        <div class="cardInfo">
                            <p class="nameRecipe">
                                {{ recipe.title }}
                            </p>
                            <p class="authorRecipe">
                                por {{ recipe.author }}
                            </p>
                            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endcall %}
    {% endblock content %}