{% extends '../layout.njk' %}
{% import '../../parts/card.njk' as card %}
{% block content %}
    {% call card.render('Receita: '+recipe.title) %}
    <div class="buttonsPages">
        {% if recipe.user_id == userId %}
            <a href="/admin/recipes/{{ recipe.id }}/edit" class="button submit">Editar receita</a>
        {% elseif isAdmin %}
            <a href="/admin/recipes/{{ recipe.id }}/edit" class="button submit">Editar receita</a>
        {% endif %}
    </div>
    <div class="content">
        <div class="recipe">
            <div class="recipeImage">
                <img src="{{ files[0].src }}" alt="{{ recipe.title }}"/>
                <div class="miniPhotos">
                    {% for file in files %}
                        <img src="{{ file.src }}" {% if loop.index0 == 0 %} class='activeImage' {% endif %} alt="{{ recipe.title }}" onclick="ImageGallery.setImage(event)"/>
                    {% endfor %}
                </div>
            </div>
            <div class="recipeInfo">
                <h1 class="title">{{ recipe.title }}</h1>
                <p class="author">por {{ recipe.author }}</p>
            </div>
        </div>
        <section class="ingredient">
            <div class="legend">
                <h2>Ingredientes</h2>
            </div>
            <div class="sectionContent">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="howToPrepare">
            <div class="legend">
                <h2>Modo de preparo</h2>
            </div>
            <div class="sectionContent">
                <p>{{ recipe.preparation }}</p>
            </div>
        </section>
        <section class="aditionalInfo">
            <div class="legend">
                <h2>Informações adicionais</h2>
            </div>
            <div class="sectionContent">
                <p>{{ recipe.information }}</p>
            </div>
        </section>
    </div>
    {% endcall %}
{% endblock %}
{% block scripts %}
    <script src="/recipeShowAndHide.js"></script>
{% endblock %}